<aside class="w-20 gray-4 flex flex-column">

  <LinkTo class="flex flex-column flex-grow-1 ma4 link"
          @route="application">
    <div class="f2 text-green center">Sproeier</div>
    <div class="f2 text-blue center">Server</div>
  </LinkTo>

  <SidebarButton @route='sprinkler'>
    <ActiveSprinkler />
  </SidebarButton>

  <SidebarButton @route='temperature'>
    <TemperatureHumidity />
  </SidebarButton>

  <SidebarButton @route='battery'>
    <span>Batterij:</span>
    <span>??%</span>
  </SidebarButton>
</aside>